# Section9 回帰モデルの評価指標

## MSE, RMSE, MAE

MSEおよびRMSE
- sklearn.metrics.mean_squared_error
    - mean_squared_error(y_test, y_pred)
    - squared引数にFalseを渡すとRMSEを返す。デフォルトはTrueでMSEとなる
    
MAE
- sklearn.metrics.mean_absolute_error

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import seaborn as sns

# データの準備
df = sns.load_dataset('tips')

X = df['total_bill'].values.reshape(-1,1)
y = df['tip'].values

# hold-out
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

# train
model = LinearRegression()
model.fit(X_train, y_train)

# predict
y_pred = model.predict(X_test)

In [8]:
# MSE：　squared=Trueにする
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred, squared=True)

0.8711845537539947

In [9]:
# RMSE: squared=Falseにする
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred, squared=False)

0.933372676777071

In [10]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

0.6903119067790222

In [2]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

## R2

R-Squared
- sklearn.metrics.r2_score
    - r2_score(y_test, y_pred)

In [11]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.49515102188632776

In [12]:
df.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [ ]:
ｂ