# Section5 特徴量スケーリング

## データロード

In [1]:
import pandas as pd

df = pd.read_csv('sample_data2.csv')

In [2]:
df

   space       rent  age
0     20  13.958824    3
1     25  11.533805   13
2     28  14.269547   18
3     30  18.722680   10
4     36  19.602674    6
5     51  16.068166    1
6     55  23.183599    5
7     62  22.212595    2
8     83  29.357010    5
9    103  37.565129   23

In [3]:
X = df[['space', 'age']]

In [4]:
y = df['rent']

## 標準化

In [5]:
# 標準化
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [6]:
scaler.fit(X)

StandardScaler()

In [7]:
X_scaled = scaler.transform(X)

In [8]:
pd.DataFrame(X_scaled, columns=X.columns)

      space       age
0 -1.134662 -0.806277
1 -0.941034  0.633504
2 -0.824857  1.353394
3 -0.747405  0.201569
4 -0.515051 -0.374343
5  0.065834 -1.094233
6  0.220736 -0.518321
7  0.491816 -0.950255
8  1.305055 -0.518321
9  2.079569  2.073284

In [9]:
# 線形回帰
from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(X_scaled, y)

LinearRegression()

## 正規化

正規化
- sklearn.preprocessing.MinMaxScalerクラス
    1. インスタンス生成
    2. .fit(X)
    3. .transform(X)で変換

In [10]:
X

   space  age
0     20    3
1     25   13
2     28   18
3     30   10
4     36    6
5     51    1
6     55    5
7     62    2
8     83    5
9    103   23

In [17]:
# 正規化
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
# scaler.fit(X)
# X_scaled = scaler.transform(X)
X_scaled = scaler.fit_transform(X)

In [18]:
X_scaled

array([[0.        , 0.09090909],
       [0.06024096, 0.54545455],
       [0.09638554, 0.77272727],
       [0.12048193, 0.40909091],
       [0.19277108, 0.22727273],
       [0.37349398, 0.        ],
       [0.42168675, 0.18181818],
       [0.5060241 , 0.04545455],
       [0.75903614, 0.18181818],
       [1.        , 1.        ]])

In [13]:
pd.DataFrame(X_scaled, columns=X.columns)

      space       age
0  0.000000  0.090909
1  0.060241  0.545455
2  0.096386  0.772727
3  0.120482  0.409091
4  0.192771  0.227273
5  0.373494  0.000000
6  0.421687  0.181818
7  0.506024  0.045455
8  0.759036  0.181818
9  1.000000  1.000000

In [14]:
# .fit_transform(X) -> scaler.fit(X) X_scaled = scaler.transform(X)
scaler.fit_transform(X)

array([[0.        , 0.09090909],
       [0.06024096, 0.54545455],
       [0.09638554, 0.77272727],
       [0.12048193, 0.40909091],
       [0.19277108, 0.22727273],
       [0.37349398, 0.        ],
       [0.42168675, 0.18181818],
       [0.5060241 , 0.04545455],
       [0.75903614, 0.18181818],
       [1.        , 1.        ]])